.widgets {
  .widgets-wrap {
    padding-bottom: 140px;

    h6 {
      padding-bottom: 10px;
    }

    .widgets-img {
      text-align: center;

      img {
        display: inline-block;

        @media only screen and (max-width: 480px) {
          width: 280px;
          height: auto;
        }
      }
    }
  }
}
